# Renombrar a .env y completar con tus datos reales
PROJECT_NAME=Banking Core API

# PostgreSQL
POSTGRES_SERVER=your-db-host
POSTGRES_PORT=5432
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_database

# Pool
POOL_MIN_CONN=1
POOL_MAX_CONN=10
